$bgColor:#34ace0;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    audio{
        display: block;
    }
}

.player{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 19px 38px rbga(0,0,0,0.30) 0 15px 12px rbga(0,0,0,0.22);
    margin: 25px;
    width: 30px;
    height: 30px;
    min-width: 320px;
    min-height: 320px;
    background-color: #000;
    &, .cover img {
        border-radius: 5px;
    }

    .cover{
        width: 90%;
        height: 90%;
        cursor: pointer;
        .progress{
            position: absolute;
            width: 0%;
            height: 90%;
            background-color: $bgColor;
            opacity: 0.2;
            justify-content: left;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    .controls{
        //border: 1px solid red;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 20%;
        margin-bottom: 10px;
        div.btn {
            cursor: pointer;
            opacity: 0.2;
            background-color: #fff;
            transition: opacity 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            border-radius: 50px;
            &:hover{
                opacity: 1;
            }
        }

        .play-button{
            height: 100%;
        }
    }
}